@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 50px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

body {
  width: 100%;
}

.logo {
  width: 100px;
  height: 100px;
}

#header {
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 20px 80px;
  background-color: #E3E6F3;
  box-shadow: 0 5px 15px rgb(0, 0, 0, 0.06);
  position: sticky;
  z-index: 9999;
  top: 0;
}

.nav {
  font-size: larger;
  font-weight: 600;
}

.nav-link {
  color: black;
}

.nav-link {
  position: relative;
  text-decoration: none;
  color: black;
}

.nav-link.active::before,
.nav-link:hover::before {
  content: "";
  position: absolute;
  width: 30%;
  height: 2px;
  background-color: black;
  bottom: 3px;
}

#hero {
  background-image: url("/img/hero4.png");
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#hero h4 {
  padding-bottom: 15px;
}
#hero h1 {
  color: rgb(187, 182, 183);
}
#hero a {
  background-image: url("/img/button.png");
  background-color: transparent;
  color: palevioletred;
  border: 0;
  padding: 14px 80px 14px 65px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
  text-decoration: none;
}

#feature {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#feature .card {
  text-align: center;
  border-radius: 15px;
  padding: 25px 10px;
  margin: 25px 40px;
  box-shadow: 5px 5px 5px rgb(179, 178, 178);
}

#feature .card:hover {
  box-shadow: 6px 6px 6px rgb(141, 140, 140);
}

#feature .card :nth-child(1) {
  background-color: pink;
}
#feature2 {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#feature2 h2,p{
  text-align: center;
  font-weight: 700;
}

#product {
  display: flex;
  flex-wrap: wrap;
  
  padding-top: 20px;
  margin: 0 60px 0 60px;
}
#product .card {
  width: 280px; 
  padding: 10px 17px;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

#product .card:hover {
  box-shadow: 10px 10px 10px rgb(0, 0, 0, 0.2);
  transition: 0.2s ease;
}

#product .card .card-img-top {
  border-radius: 15px;
}

.card .card-body span {
  font-size: smaller;
  color: rgb(179, 177, 177);
}
.card .card-body h6 {
  font-size: 13px;
}
.card .card-body h5 {
  font-size: 17px;
}

.star {
  font-size: smaller;
  color: rgb(229, 229, 21);
}
.card .card-body .bi-cart {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-color: rgb(210, 213, 213);
  border: 1px solid black;
  position: absolute;
  right: 20px;
  bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card .card-body .bi-cart:hover {
  transform: scale(1.2);
}

.newsletter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-image: url(/img/banner/b1.jpg);
  margin-top: 20px;
}

.newsletter .letter h4 {
  color: white;
  font-weight: 600;
  margin: 20px;
}

.newsletter .letter p {
  color: white;
  font-weight: 400;
  margin: 20px;
}

.form .btn-outline-secondary {
  background-color: rgb(213, 242, 213);
}
.form .btn-outline-secondary:hover {
  background-color: rgb(234, 49, 49);
}

.alert {
  text-align: center;
  background-color: #465b52;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 90px 0 90px;
}

.contact .detail {
  width: 40%;
}
.contact .detail span{
  font-size: 20px;
}
.contact .detail h2{
  font-size: 30px;
  font-weight: bolder;
  line-height: 35px;
  padding: 15px 0;
}
.contact .detail h3{
  font-size: 20px;
  font-weight: bold;
}
.contact .detail ul li{
  list-style: none;
  display: flex;
  align-items: center;
}
.contact .detail ul li i{
  padding-right: 30px;
}
.contact .map {
  margin-top: 30px;
}

.form {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  margin: auto;
  margin-top: 30px;
  padding: 30px;
  border: 1px solid black;
}

.form input, textarea {
  width: 100%;
  padding: 12px 17px;
}

.form button {
  background-color: rgb(73, 215, 73);
  color: black;
}

/* Shop Page*/

#page-header{
  background-image: url("/img/banner/b1.jpg");
  width: 100%;
  height: 40vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;
}

#page-header h2,
#page-header p{
  color: #fff;
}

#pagination {
  text-align: center;
}

#pagination a {
  text-decoration: none;
  background-color: #088178;
  padding: 15px 20px;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
  margin: 0 5px;
}

#pagination a i {
  font-size: 16px;
  font-weight: 600;
}

/*Single Product*/

#prodetails {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#prodetails .single-pro-image{
  width: 40%;
  margin-right: 50px;
}

.small-img-group{
  display: flex;
  justify-content: space-between;
}

.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}

#prodetails .single-pro-details {
  width: 50%;
  padding-top: 30px;
}

#prodetails .single-pro-details h4 {
  padding: 40px 0 20px 0;
}

#prodetails .single-pro-details h2 {
  font-size: 26px;
}

#prodetails .single-pro-details select {
  display: block;
  padding: 5px 10px;
  margin-top: 10px;
}

#prodetails .single-pro-details input {
  width: 50px;
  height: 47px;
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
}

#prodetails .single-pro-details input:focus {
  outline: none;
}

#prodetails .single-pro-details button {
  background-color: #088178;
  color: #fff;
  padding: 10px 20px;
  border: none;
}

#prodetails .single-pro-details span {
  line-height: 25px;
}
/* Blog Page */
#page-header.blog-header {
  background-image: url("/img/banner/b19.jpg");
}

#blog {
  padding: 100px 50px 0 50px;
}

#blog .blog-box {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  padding-bottom: 90px;
}

#blog .blog-img {
  width: 50%;
  margin-right: 40px;
}

#blog img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-top: 15px;
}

#blog .blog-details {
  width: 50%;
}

#blog .blog-details a {
  text-decoration: none;
  font-size: 11px;
  color: #000;
  font-weight: 700;
  position: relative;
  transition: 0.3s;
}

#blog .blog-details a::after {
  content: "";
  width: 50px;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 4px;
  right: -60px;
}

#blog .blog-details a:hover {
  color: #088178;
}

#blog .blog-details a:hover::after {
  background-color: #088178;
}

#blog .blog-details h1 {
  position: absolute;
  top: -40px;
  left: 0;
  font-size: 70px;
  font-weight: 700;
  color: #c9cbce;
}


#blog .blog-details h4{
  font-size: 20px;
  font-weight: 700;
  color: #000;
}
.mobile {
    display: none;
}

#close {
  display: none;
}
/* responsive */

@media (max-width: 768px) {
  .nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    list-style: none;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100%;
    width: 250px;
    background-color: #E3E6F3;
    box-shadow: 0 40px 40px rgba(0, 0, 0, 0.2);
    padding: 150px 0 0 10px;
    z-index: 9999;
  }

  .nav.active{
    right: 0;
  }
  
  .mobile {
    display: flex;
    align-items: center;
  }

  .mobile i {
    font-size: 25px;
    padding-left: 10px;
  }

  #close {
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 25px;
    display: flex;
  }

  #hero {
  height: 80vh;
  padding: 0 80px;
  background-position: top 30% right 30%;
}

@media (max-width: 540px) {
  #hero {
    height: 80vh;
    padding: 0 20px;
    width: 100%;
    background-position: top 30% right 25%;
  }
  #hero h4 {
    font-size: 45px;
  }
  #hero h2 {
    font-size: 45px;
  }
  #hero h1 {
    font-size: 45px;
  }
}